.gear-area {
  background-color: grey;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}

.title-bar {
  color: black;
  padding: 5px;
  justify-content: space-between;
  display: flex;
}
