.top {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.navbar {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.bottom {
  background-color: white;
  color: black;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
  justify-content: center;
}

.logo {
  display: block;
  margin: auto;
  cursor: pointer;
}

main {
  min-height: 70vh;
  margin-right: 5px;
  margin-left: 5px;
}

.link {
  color: white;
  justify-content: space-between;
  text-decoration: none;
  margin-right: 25px;
  cursor: pointer;
}

a:hover {
  color: grey;
}

.logout {
  text-align: center;
}
